/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

 /*
  * GPIO Information located here:
  * ./arch/arm/mach-tegra/gpio-names.h
  */

  /*
   * J21 Header SPI1 == bus_num 0
   * Expansion SPI0 == bus_num 3
   * Expansion SPI2 == bus_num 1
   */

/ {
    gpio@6000d000 {
        /* Needed for J21 Header SPI1 */
        gpio_default: default {
            gpio-input = <170 174 185>; // Set PV2, PV6, and PX1 to input
            gpio-to-sfio = <16 17 18 19 20>; // J21 Header SPI1
        };
    };
    
    
	
	/* J21 Header SPI1 */
	/* Note the difference in numbering between the connector and device */
    spi@7000d400 {
    	status = "okay";
    	
    	spidev0_0 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "linux,spidev", "spidev";
			status = "okay";
			reg = <0x0>;
			spi-max-frequency = <20000000>;
			nvidia,enable-hw-based-cs;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;
	    };
	    
	    spidev0_1 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "linux,spidev", "spidev";
			status = "okay";
			reg = <0x1>;
			spi-max-frequency = <20000000>;
			nvidia,enable-hw-based-cs;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;
	    };
    };
    
    /* J23 Expansion Connector SPI2 (CAN-A)*/
    /* Note the difference in numbering between the connector and device */
    spi@7000d600 {
		status = "okay";
		
	    spidev1_0 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "linux,spidev", "spidev";
			reg = <0x0>;
			spi-max-frequency = <20000000>;
			nvidia,enable-hw-based-cs;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
	};
    
    /* J23 Expansion Connector SPI0 (CAN-B) */
    /* Note the difference in numbering between the connector and device */
    spi@7000da00 {
    	status = "okay";
    	
        spidev3_0 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "linux,spidev", "spidev";
			reg = <0x0>;
			spi-max-frequency = <20000000>;
			nvidia,enable-hw-based-cs;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
    };
};


