/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
 /*
 SPI Ports:
 
spi0 = "/spi@7000d400";
spi1 = "/spi@7000d600";
spi2 = "/spi@7000d800";
spi3 = "/spi@7000da00";
 */

/ {
	gpio@6000d000 {
	    /* Needed for SPI1 */
	    gpio_default: default {
	        gpio-to-sfio = <16 17 18 19 20>;
	    };
    };

    spi@7000d400 {
    	status = "okay";
    	
	    spi0_0 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "spidev";
			reg = <0x0>;
			spi-max-frequency = <20000000>;
			nvidia,enable-hw-based-cs;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
    };
    
    spi@7000d600 {
		status = "okay";

	    spi1_0 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "spidev";
			status = "okay";
			reg = <0x0>;
			spi-max-frequency = <20000000>;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;
			nvidia,chipselect-gpio = <&gpio_default 19 0>;
	    };
	    
	    spi1_1 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "spidev";
			status = "okay";
			reg = <0x1>;
			spi-max-frequency = <20000000>;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;
			nvidia,chipselect-gpio = <&gpio_default 20 0>;
	    };

	};
    
    spi@7000d800 {
    	status = "okay";
    	
        spi2_0 {
	        #address-cells = <0x1>;
	        #size-cells = <0x0>;
	        compatible = "spidev";
	        reg = <0x0>;
	        spi-max-frequency = <20000000>;
	        nvidia,enable-hw-based-cs;
	        nvidia,cs-setup-clk-count = <0x1e>;
	        nvidia,cs-hold-clk-count = <0x1e>;
	        nvidia,rx-clk-tap-delay = <0x1f>;
	        nvidia,tx-clk-tap-delay = <0x0>;
	    };
    };
};


